@model IEnumerable<CSTEntryForm.Models.TKojin>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ENamae)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ENamaeNamae)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ENamaeSeiKana)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ENamaeNamaeKana)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ENenrei)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EEmail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EDenwaArea)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EDenwaLocal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EDenwa4num)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EShigotoKibou)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EMendan1Month)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EMendan1Day)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EMendan1Ampm)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EMendan2Month)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EMendan2Day)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EMendan2Ampm)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EMendan3Month)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EMendan3Day)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EMendan3Ampm)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EQuestion)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.ESeibetsuNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ENamae)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ENamaeNamae)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ENamaeSeiKana)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ENamaeNamaeKana)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ENenrei)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EDenwaArea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EDenwaLocal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EDenwa4num)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EShigotoKibou)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMendan1Month)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMendan1Day)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMendan1Ampm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMendan2Month)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMendan2Day)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMendan2Ampm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMendan3Month)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMendan3Day)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMendan3Ampm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EQuestion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ESeibetsuNavigation.ESeibetsu)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
