@model CSTEntryForm02a.Models.TEntryMeibo

@{
    ViewData["Title"] = "Details";
}
<head>
    <script type="text/javascript">
    <!--
               
       function check2() {
             

            alert("Thank you!!");
            return true;

        }

    

    // -->

    </script>


</head>


<h2>Confirmation Page</h2>

<form name="entryform" asp-action="Details">
    <div>
        <h4></h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ENameSei)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ENameSei)
                <input type="hidden" asp-for="ENameSei" name="ENameSei" />
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ENameNamae)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ENameNamae)
                <input type="hidden" asp-for="ENameNamae" name="ENameNamae" />
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ENameSeiKana)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ENameSeiKana)
                <input type="hidden" asp-for="ENameSeiKana" name="ENameSeiKana" />
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ENameNamaeKana)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ENameNamaeKana)
                <input type="hidden" asp-for="ENameNamaeKana" name="ENameNamaeKana" />
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ENenrei)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ENenrei)
                <input type="hidden" asp-for="ENenrei" name="ENenrei" />
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EJitakuRosen)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EJitakuRosen)
                <input type="hidden" asp-for="EJitakuRosen" name="EJitakuRosen" />
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EJitakuMoyorieki)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EJitakuMoyorieki)
                <input type="hidden" asp-for="EJitakuMoyorieki" name="EJitakuMoyorieki" />
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EJitakuToEki_Koutsu)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EJitakuToEki_Koutsu)
                <input type="hidden" asp-for="EJitakuToEki_Koutsu" name="EJitakuToEki_Koutsu" />       
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EJitakuToEki_Jikan)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EJitakuToEki_Jikan)
                <input type="hidden" asp-for="EJitakuToEki_Jikan" name="EJitakuToEki_Jikan" />
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EShigotoKibou)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EShigotoKibou)
                <input type="hidden" asp-for="EShigotoKibou" name="EShigotoKibou" />
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EEmail)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EEmail)
                <input type="hidden" asp-for="EEmail" name="EEmail" />
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EPhone)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EPhone)
                <input type="hidden" asp-for="EPhone" name="EPhone" />
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EMendan1Tsuki)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EMendan1Tsuki)
                <input type="hidden" asp-for="EMendan1Tsuki" name="EMendan1Tsuki" />
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EMendan1Hi)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EMendan1Hi)
                <input type="hidden" asp-for="EMendan1Hi" name="EMendan1Hi" />
            </dd>
            @*<dt>
                @Html.DisplayNameFor(model => model.EMendan1Youbi)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EMendan1Youbi)
                <input type="hidden" asp-for="EMendan1Youbi" name="EMendan1Youbi" />
            </dd>*@
            <dt>
                @Html.DisplayNameFor(model => model.EMendan1Ampm)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EMendan1Ampm)
                <input type="hidden" asp-for="EMendan1Ampm" name="EMendan1Ampm" />
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EMendan2Tsuki)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EMendan2Tsuki)
                <input type="hidden" asp-for="EMendan2Tsuki" name="EMendan2Tsuki" />
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EMendan2Hi)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EMendan2Hi)
                <input type="hidden" asp-for="EMendan2Hi" name="EMendan2Hi" />
            </dd>
            @*<dt>
                @Html.DisplayNameFor(model => model.EMendan2Youbi)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EMendan2Youbi)
                <input type="hidden" asp-for="EMendan2Youbi" name="EMendan2Youbi" />
            </dd>*@
            <dt>
                @Html.DisplayNameFor(model => model.EMendan2Ampm)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EMendan2Ampm)
                <input type="hidden" asp-for="EMendan2Ampm" name="EMendan2Ampm" />
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EMendan3Tsuki)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EMendan3Tsuki)
                <input type="hidden" asp-for="EMendan3Tsuki" name="EMendan3Tsuki" />
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EMendan3Hi)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EMendan3Hi)
                <input type="hidden" asp-for="EMendan3Hi" name="EMendan3Hi" />
            </dd>
            @*<dt>
                @Html.DisplayNameFor(model => model.EMendan3Youbi)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EMendan3Youbi)
                <input type="hidden" asp-for="EMendan3Youbi" name="EMendan3Youbi" />
            </dd>*@
            <dt>
                @Html.DisplayNameFor(model => model.EMendan3Ampm)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EMendan3Ampm)
                <input type="hidden" asp-for="EMendan3Ampm" name="EMendan3Ampm" />
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EQuestion)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EQuestion)
                <input type="hidden" asp-for="EQuestion" name="EQuestion" />
            </dd>
            @*<dt>
                    @Html.DisplayNameFor(model => model.ETimeStamp)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ETimeStamp)
                </dd>*@
        </dl>
        <p>
            @*<INPUT type="button" value="Back" onClick="history.back()" class="grid2 item_height16 btn btn-default">*@

            @*<input asp-action="Create" type="submit"  value="Back" class="grid1 item_height16 btn btn-default" />*@

            <input asp-action="Create" asp-route-id="-3" type="submit" value="Back" class="grid1 item_height16 btn btn-default" />

            @*<a asp-action="Create">Finish and Create New</a>*@

            @*<input type="submit" value="OK" class="grid2 item_height16 btn btn-default" />*@

            @*<a href="javascript:history.back()" style="position: absolute; left: 30%">[Back]</a>*@

            <input asp-action="Details" asp-route-id="-2" type="submit" onclick="return check2()" value="OK" class="grid1 item_height16 btn btn-default" style="position: relative; left: 50px" />

        </p>
    </div>
    @*<div>
            <input type="button" onclick="return check1()" value="“o˜^" class="btn btn-default" />

        </div>*@
</form>